name: docker build and push
on:
  push:
    branches: [main,master]
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: HTMLHint
        run: |
          npm install -g htmlhint
          htmlhint "**/*.html"

      - name: Stylelint
        run: |
          npm install -g stylelint stylelint-config-standard
          echo '{"extends": "stylelint-config-standard"}' > .stylelintrc.json
          npx stylelint "**/*.css"    
      - name: login to docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/app:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/app:${{ github.sha }}
  
  cd:  
    runs-on: ubuntu-latest
    needs: build_and_push  # Added dependency
    environment: development
    env:
      HOOK: ${{ secrets.RENDER_DEPLOY_HOOK }}  
    steps:
      - name: Trigger Deployment
        run: |
          curl -X POST "$HOOK" 
